<!DOCTYPE html>
<html>
<head>
  <title>Okcorgi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://bootswatch.com/cosmo/bootstrap.min.css">
</style>
</head>
<body>

  <header>
  <%= image_tag '1.jpeg' %><%= image_tag '1.jpeg' %><%= image_tag '1.jpeg' %><%= image_tag '1.jpeg' %><%= image_tag '1.jpeg' %>
  <%= image_tag '1.jpeg' %>


  </header>

<%= yield %>

</body>
</html>
